.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_item {
    padding: 10px;
}

.dialogs_item .active{
    color: gold;
}

.dialog a{
    text-decoration: none;
    font-size: 25px;
    color: #0be4c5;
}


.messages {
    padding: 10px;
}

.message {

}